extends layout

block content
  div
    input(type='file', value='上传图片' accept='image/*')#uploadImage
  script.
    window.onload = function () {
      var formData = new FormData();
      var uploadImageBtn = $('#uploadImage');
      uploadImageBtn.bind('change', function () {
        var img_file = uploadImageBtn[0].files[0];
        if (!img_file) {
          return;
        }
        formData.append("modal_file", img_file);
        $.ajax({
          type: 'post',
          dataType: 'json',
          url: 'http://192.168.90.42:3000/uploads/image',
          data: formData,
          contentType: false,
          processData: false,
          success: function (success) {
            console.log(success);
          },
          error: function (err) {
            console.log(err);
          }
        })
      })
    };